.sec-home{
    text-align: center;
    height: 100vh;
   
}
.content-home{
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    padding-bottom: 30px;
    padding-top: 200px;
}

@media screen and (max-width:700px) {

    .content-home{
      
        text-align: center;
  font-size: 0.7em;
     
    }

    
    .sec-home{
        text-align: center;
        height: 130vh;
       
    }
}